Created on Fri Jan 10 11:23:08 2020
Group 7
@authors: V.B. C.L.

In [85]:
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.pyplot import imread
import os

In [105]:
path = './../IMG_annot/SEATGURU/'
path_csv = './../CSV_annotate/SEATGURU/'

In [87]:
os.makedirs(path_csv, exist_ok = True)
os.listdir(path_csv)

['g7_SEATGURU_Meal.csv',
 'g7_SEATGURU.csv',
 'g7_SEATGURU_Ext_Int.csv',
 '.gitkeep',
 'g7_SEATGURU_Ext-Int.csv',
 'g7_SEATGURU_Int.csv',
 'g7_SEATGURU_Ext.csv']

In [88]:
def crea_df(path, path_csv, cat) :
    """
    For each folder, create a dataframe where the column 'View' is filled with the matching label.
    Create the respective dataframe.
    
    Parameters :
        path (type : str) : path towards images classified by labels 
        path_csv (type : str) : path towards the folder containing all the CSV files
        cat (type : str): label
    
    Out : 
        df (type : DataFrame)
    
    """

    df = pd.DataFrame(columns = ['Picture name', 'View'])
    df['Picture name'] = os.listdir(path + cat + '/')
    df['View'] = cat
    df.to_csv(path_csv + 'g7_SEATGURU_' + cat + '.csv', sep = ';', encoding='utf-8', index = False)
    return df

In [89]:
cat = 'Ext_Int'
df_ext_int = crea_df(path, path_csv, cat) 
df

                              Picture name     View
0    China_Eastern_Boeing_737_800_V4_0.jpg  Ext_Int
1             Iberia_Canadair_CRJ200_2.jpg  Ext_Int
2        LAN_Airlines_Boeing_767-300_4.jpg  Ext_Int
3                Air_Asia_Airbus_320_2.jpg  Ext_Int
4        Singapore_Air_Airbus_A380_D_0.jpg  Ext_Int
..                                     ...      ...
170      SAS_Airlines_Boeing_737-800_2.jpg  Ext_Int
171              Jetstar_Airbus_A320_3.jpg  Ext_Int
172    Lufthansa_Airbus_A319-100_NEK_2.jpg  Ext_Int
173   British_Airways_Boeing_777-200_4.jpg  Ext_Int
174    Frontier_Airlines_Airbus_A320_4.jpg  Ext_Int

[175 rows x 2 columns]

In [90]:
df_int = crea_df(path, path_csv, 'Int') 
df_ext =  crea_df(path, path_csv, 'Ext') 
df_meal = crea_df(path, path_csv, 'Meal')